<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boom</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app" class="main">
    <h1 > {{title}}</h1>
    <div>
        {{ message }}
    </div>
    <hr>
    <section1></section1>
    <hr>
    <section2></section2>
    <div class="box">
    <ul class="card_frame">
    <li
      is="card-item"
      v-for="(card, index) in cards"
      v-bind:title="card.text"
    ></li>
    </ul>
    </div>
    <hr>
      <section3></section3>
      <div class="box">
      <ul class="card_frame">
      <li
        is="card-item2"
        v-for="(card, index) in cards"
        v-bind:title="card.text"
        
      ></li>
    </ul>
    </div>
  </div>
</body>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>

</html>