html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size:62.5%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333;
    width: 100%;
    max-width: 768px;
    margin:0 auto;
    /* background: url(../images/bg18.png); */
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

.hide{
    display: none!important
}

.prime-color{color: #84cdc2}
.blue{ color: #64B5F6 }
.brown{ color: #A1887F }
.red{ color: #E57373 }
.purple{ color: #9575CD }
.green{ color: #81C784 }
.pink{ color: #F48FB1 }
.yellow{ color: #FFD54F }
.orange{ color: #FF8A65 }
.cyan{color: #26C6DA}

.prime-bgcolor{background-color: #84cdc2}
.bg-blue{ background-color: #64B5F6 }
.bg-brown{ background-color: #A1887F }
.bg-red{ background-color: #E57373 }
.bg-purple{ background-color: #9575CD }
.bg-green{ background-color: #81C784 }
.bg-pink{ background-color: #F48FB1 }
.bg-yellow{ background-color: #FFD54F }
.bg-orange{ background-color: #FF8A65 }
.bg-cyan{background-color: #26C6DA}

.fav-album{padding: .6rem .4rem; clear: both; overflow: hidden;}
.fav-album-grid{float: left;width: 33.33%; box-sizing:border-box; padding: .4rem}
.fav-album-wrap{position: relative;}
.fav-album-grid img{ width: 100%; }
.fav-album-info{ position: absolute; width: 100%; height: 2.4rem; background-color: rgba(0,0,0,0.4);left: 0;bottom: 0; line-height: 2.4rem; color: #eee; font-size: 1.4rem}
.fav-album-info i{padding: 0 .4rem}
.fav-find{ padding: 2rem; text-align: center;font-size: 1.8rem; color: #84cdc2; margin-top: 2rem;}
.fav-find-icon{ font-size: 5rem; padding-bottom: 1rem}
.fav-find-text{color: #999}
.fav-title{ font-size: 1.6rem; margin-left: .8rem;margin-top: 1rem; border-left: .6rem solid #84cdc2; padding-left: .4rem; height: 2rem ; line-height: 2rem;}

.flex-wrap{ display: -webkit-box;display: -webkit-flex; display: flex;}
.flex-item{-webkit-box-flex: 1;-webkit-flex: 1; flex: 1;}


.player-mini{ position: fixed; bottom: 8rem; right: 1rem; width: 4rem; height: 4rem;border-radius: 5rem; background:#84cdc2 ; color: #fff; font-size: 2rem; text-align: center; line-height: 4rem;z-index: 10 ; border: .2rem solid #fff}

.player-mini.active{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    animation: myfirst 3s linear infinite;
    -webkit-animation: myfirst 3s linear infinite;  /* Safari 和 Chrome */
}

@keyframes myfirst
{
    0% {transform: rotate(0deg);}

　　50% {transform: rotate(180deg);}

　　100% {transform: rotate(360deg);}
}

@-webkit-keyframes myfirst
{
    0% {-webkit-transform: rotate(0deg);}

　　50% {-webkit-transform: rotate(180deg);}

　　100% {-webkit-transform: rotate(360deg);}
}
.content-wrap{ padding-bottom: 6rem;  }
.bottom-nav{ position:fixed; width: 100%;max-width: 768px; height: 6rem; border-top:1px solid #eee; background: #fff ; bottom: 0!important; left: auto!important; z-index: 100}
.bottom-grid{ width: 33.33%;height: 6rem; float: left;box-sizing:border-box; border-right:1px solid #eee; line-height: 6rem; text-align: center; font-size: 3rem ;color:#ddd;}
.active.bottom-grid{color:#84cdc2; 
-webkit-animation: 1s linear 0s move_eye;
 -moz-animation: 1s linear 0s move_eye;
   -o-animation: 1s linear 0s move_eye;
      animation: 1s linear 0s move_eye;}
.bottom-grid:last-child{border-right: none}
.bottom-grid:active{background-color: #fefefe!important;}
@-webkit-keyframes move_eye { from { color:#ddd;} to { color:#84cdc2;  }  }
@-moz-keyframes move_eye { from { color:#ddd;} to { color:#84cdc2;  }  }
@-o-keyframes move_eye { from { color:#ddd;} to { color:#84cdc2;  }  }
@keyframes move_eye { from { color:#ddd;} to { color:#84cdc2;  }  }
.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}